

.videoBody{
    /* height: 85vh;
    width: 100vw; */
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(5,1fr);
}
.videoDiv{
    grid-row: 2/7;
    grid-column: 4/-2;
    width: 60vw;
    /* background: url('../Assets/FooterImg/cameraOutline.png'); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.video{
    border-radius: 1rem;
    transform: rotate(-3deg) translateX(6.5rem) translateY(6rem);
    box-shadow: -1px -4px 41px 6px rgba(0,0,0,0.58);
}
.grid-btn{
    grid-column: 4/6;
    grid-row: 4/5;
    padding-top: 2rem;
}
@media screen and (max-width:850px) {
    .grid-btn{
        grid-column: 3/5;
    }
    .video{
        border-radius: 1rem;
        transform: rotate(-3deg) translateX(2.5rem) translateY(9rem);
    }
    
}
.moreNatural{
    grid-column-start:3;
    grid-row-start: 3;
    /* padding-left: 2rem; */
    transform: translateX(2rem);
}
.btn{
    background-color: white;
    border: 3px solid rgb(100, 203, 243);
    color: rgb(100, 203, 243);
    font-size: 20px;
    text-transform: uppercase;
    padding:5px 20px;
    font-weight: bold;
    border-radius: 2rem;
    width: 6rem;
    margin-bottom: 1rem;
}
.btn-pause{
    background-color: white;
    border: 3px solid rgb(100, 203, 243);
    color: rgb(100, 203, 243);
    font-size: 20px;
    text-transform: uppercase;
    padding:5px 18px;
    font-weight: bold;
    border-radius: 2rem;
    width: 6rem;
}
/* video{
   margin-left: 400px;
} */