
.card{
    width: 20rem;
    height: 16rem;
    margin: 1rem 1rem;
}
.cardIcon{
    height: 3.5rem;
    width: 3.5rem;
}

.cardText{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;
    padding-top: 1rem;
}
